{% extends "./Layouts/base.html" %}
{% block content %}

{% block title %}{% endblock %}
{% include './Layouts/navbar.html' %}
{% if existingcampaigns %}
    <div class="row" style="margin-left:1px">
    {% for campaign in existingcampaigns %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{campaign.campaignname}}</h5>
          <h6 class="card-text">End Date: {{campaign.campaignenddate}}</h6>
          <h6 class="card-text">Budget: {{campaign.campaignbudget}}</h6>
          <a class="btn btn-success" href="/viewcampaign/{{campaign.campaignid}}" role="button">View</a>
          <button type="button" href="/campaigns" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal{{campaign.campaignid}}" data-bs-whatever="@mdo">Edit</button>
          

          <div class="modal fade" id="editModal{{campaign.campaignid}}" tabindex="-1" aria-labelledby="editModalLabel{{campaign.campaignid}}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editModalLabel{{campaign.campaignid}}">Edit campaign</h5>
                </div>
                <div class="modal-body">
                  <form action="/campaigns/edit/{{campaign.campaignid}}" method="POST">
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Title:</label>
                      <input type="text" name="campaigntitle" class="form-control" id="recipient-name" value="{{campaign.campaignname}}">
                    </div>
                    <div class="mb-3">
                      <label for="campaign-end-date" class="col-form-label">Campaign End Date:</label>
                      <input type="date" name="campaignenddate" class="form-control" id="campaign-end-date" value="{{campaign.campaignenddate}}">
                    </div>
                    <div class="mb-3">
                      <label for="campaign-budget" class="col-form-label">Budget:</label>
                      <input type="text" name="campaignbudget" class="form-control" id="campaign-budget" value="{{campaign.campaignbudget}}">
                    </div>
                    <div class="mb-3">
                      <label for="campaign-target-audience" class="col-form-label">Target Industry:</label>
                      <select class="form-select" aria-label="" name="campaigntargetaudience">
                        <option selected>{{'None'}}</option>
                        {% for ind in industries %}
                        <option value="{{ind.index}}" {% if ind.index == campaign.targetaudience %}selected{% endif %}>{{ind.industryname}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="message-text" class="col-form-label">Description:</label>
                      <textarea class="form-control" name="campaigndescription" id="message-text">{{campaign.campaigndescription}}</textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-success">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <button type="button" href="/campaigns" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{campaign.campaignid}}" data-bs-whatever="@mdo">Delete</button>
          <div class="modal fade" id="deleteModal{{campaign.campaignid}}" tabindex="-1" aria-labelledby="deleteModalLabel{{campaign.campaignid}}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel{{campaign.campaignid}}">Delete campaign</h5>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete the campaign {{campaign.campaignname}}?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <form action="/campaigns/delete/{{campaign.campaignid}}" method="POST">
                    <input type="hidden" name="campaignid" value="{{campaign.campaignid}}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
    <div class="row">
      <div class="col-5"></div>
      <div class="col-2"><button type="button" href="/campaigns" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#createModal" data-bs-whatever="@mdo">Create Campaign</button>
        <form action="/campaigns" method="POST">
          <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="createModalLabel">New campaign</h5>
                </div>
                <div class="modal-body">
                  <form class="row g-3">
                    <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">Campaign Title</label>
                      <input type="text" class="form-control" id="inputEmail4" value="{{campaign.campaignname}}">
                    </div>
                    <div class="col-md-6">
                      <label for="inputPassword4" class="form-label">Budget</label>
                      <input type="text" class="form-control" id="inputPassword4" value="{{campaign.campaignbudget}}">
                    </div>
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Address</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-12">
                      <label for="inputAddress2" class="form-label">Address 2</label>
                      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                      <label for="inputCity" class="form-label">City</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-4">
                      <label for="inputState" class="form-label">State</label>
                      <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <label for="inputZip" class="form-label">Zip</label>
                      <input type="text" class="form-control" id="inputZip">
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                  </form>
                
                  

                  <!-- <div class="mb-3">
                    <label for="new-campaign-target-audience" class="col-form-label">Target Industry:</label>
                    <select class="form-select" aria-label="" name="campaigntargetaudience">
                      <option selected>{{'None'}}</option>
                      {% for ind in industries %}
                      <option value="{{ind.index}}">{{ind.industryname}}</option>
                      {% endfor %}
                    </select>
                  </div> -->
                 
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-5"></div>    
    </div>
{% else %}
<div class="row" style="margin-top: 50dvh;">
  <div class="col-5"></div>
  <div class="col-2">
    <button type="button" href="/campaigns" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#createModal" data-bs-whatever="@mdo">Create Campaign</button>
      <form action="/campaigns" method="POST">
        <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">New campaign</h5>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="new-recipient-name" class="col-form-label">Title:</label>
                  <input type="text" name="campaigntitle" class="form-control" id="new-recipient-name">
                </div>
                <div class="mb-3">
                  <label for="new-campaign-end-date" class="col-form-label">Campaign End Date:</label>
                  <input type="date" name="campaignenddate" class="form-control" id="new-campaign-end-date">
                </div>
                <div class="mb-3">
                  <label for="new-campaign-budget" class="col-form-label">Budget:</label>
                  <input type="text" name="campaignbudget" class="form-control" id="new-campaign-budget">
                </div>
                <div class="mb-3">
                  <label for="new-campaign-target-audience" class="col-form-label">Target Industry:</label>
                  <select class="form-select" aria-label="" name="campaigntargetaudience">
                    <option selected>{{'None'}}</option>
                    {% for ind in industries %}
                    <option value="{{ind.index}}">{{ind.industryname}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mb-3">
                  <label for="new-message-text" class="col-form-label">Description:</label>
                  <textarea class="form-control" name="campaigndescription" id="new-message-text"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </div>
      </form>
  </div>
  <div class="col-5"></div>    
</div>
{%endif%}
{% endblock %}
